[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/vim-rust"]
	path = .vim/bundle/vim-rust
	url = https://github.com/bryanjswift/vim-rust.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-ls"]
	path = .vim/bundle/vim-ls
	url = https://github.com/gkz/vim-ls.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/bundle/vim-varnish"]
	path = .vim/bundle/vim-varnish
	url = https://github.com/empanda/vim-varnish.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "third_parties/nodenv"]
	path = third_parties/nodenv
	url = https://github.com/OiNutter/nodenv.git
[submodule "third_parties/nodenv_plugins/node-build"]
	path = third_parties/nodenv_plugins/node-build
	url = https://github.com/OiNutter/node-build.git
[submodule "third_parties/nodenv_plugins/nodenv-vars"]
	path = third_parties/nodenv_plugins/nodenv-vars
	url = https://github.com/OiNutter/nodenv-vars.git
[submodule "third_parties/pyenv"]
	path = third_parties/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule ".vim/bundle/nginx-contrib-vim"]
	path = .vim/bundle/nginx-contrib-vim
	url = https://github.com/moskytw/nginx-contrib-vim.git
